@import "colors.css";
button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--white);
    text-align: left;
    vertical-align: top;
    width:fit-content;
    padding:15px;
    background-color: var(--accent-1);
    color: var(--dark);
    font-size: 20px;
    letter-spacing: 0.16px;
    min-height: 48px;
    line-height: 1.29;
    font-weight: 400;
}
button:hover {
    background-color: var(--dark);
    color: var(--accent-1);
    opacity: 80%;
}
