@import "colors.css";
body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;}
body, html {
  height: 100%;
  color: var(--dark);
}

.reviews {
  background-image: url('../images/custom-v2.PNG');
  background-attachment: fixed;
  background-size: 900px;
  background-color: var(--neutral);
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/artsy_daphne.JPG');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../images/beach_daphne.JPG");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/nature_daphne.jpeg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.review-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.title{
  margin-left:auto;
  margin-right:auto;
  background: var(--neutral);
  color:var(--dark);
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
  text-align: center;
  opacity: 95%;
  overflow: hidden;
}

title-text{
  padding-left:2%;
  padding-right:2%;
  padding-bottom:1%;
  padding-top:1%;
  display:inline-block;
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size:60px;
  color:var(--lavender-pink)
}

.front-half{
  left:0px;
  object-fit:contain;
}

.back-half{
  right:0px;
  object-fit:contain;
}

.stats-bar{
  background-color: var(--tea-green)
}

.about-me{
  background-image: url('../images/custom-v2.PNG');
  background-size: 1000px;
  background-repeat: repeat;
}

.review-text{
  color:var(--dark);
  font-size: large;

}

.review-section{
  width:50%;
  color: var(--dark);
  padding:2%;
  box-shadow: 5px 5px 3px var(--shadow);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  /* background-image: url('../images/white-waves.png');
  background-size: 200%; */
  justify-content: center;
  background-color: var(--neutral);
  opacity: 95%;
}

.parallax {
  /* Set a specific height */
  min-height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: repeat-x;
  background-size: auto 400px;
  position: relative;
}


.review-title-text{
  color:var(--cold-purple);
  font-weight:bolder;
  font-size: large;

}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 800px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .review{
    background-attachment: scroll;
    min-height: 400px;
  }

  @media only screen and (max-width: 800px) {
    .parallax{
      background-attachment:scroll;
      min-height: 1100px;
      background-position: 600px 150px;
      background-size: auto 375px;
    }
  }

  @media screen and (max-width: 800px) {
    title-text {
      font-size: 30px;
    }
  }
  @media screen and (max-width:800px){
    .review-section{
      width:80%;
      transform: translate(10%, 10%);
    }

    @media screen and (max-width:800px){
      .title{
        max-width: 800px;
        justify-content:center;
      }
    }
  }
}
